<footer class="px-2 py-5">
    <div class="footer-container">
        <div class="row">
            <div class="col-md-4 footer-content">
                <img src="./../../assets/images/Title.png" alt="HelloChef" class="hc-logo">
                <ul class="footer-content-list mt-4">
                    <li>
                        <span class="content-icon"><i class="fa fa-map-marker"></i></span>
                        <p class="mb-0">
                            2157 Eden Drive, <br>
                            California - 93446
                        </p>
                    </li>
                    <li>
                        <span class="content-icon icon-mail"><i class="fa fa-envelope"></i></span>
                        <a href="mailto:test@gmail.com">
                            test@gmail.com
                        </a>
                    </li>
                    <li>
                        <span class="content-icon"><i class="fa fa-phone"></i></span>
                        <a href="tel:+918401565084">+918401565084</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="text-secondary">
                            Title 1
                        </h5>
                        <ul class="footer-content-list mt-4">
                            <li>
                                <p>
                                    Link 1
                                </p>
                            </li>
                            <li>
                                <p>
                                    Link 2
                                </p>
                            </li>
                            <li>
                                <p>
                                    Link 3
                                </p>
                            </li>
                            <li>
                                <p>
                                    Link 4
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-secondary">Title 2</h5>
                        <ul class="footer-content-list mt-4 d-inline-flex d-md-block">
                            <li>
                                <a href="#">
                                    <img src="./../../assets/images/appstore-badge.png" alt="App Store" width="150px">
                                </a>
                            </li>
                            <li class="ml-4 ml-md-0">
                                <a href="#">
                                    <img src="./../../assets/images/playstore-badge.png" alt="Play Store" width="150px">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-secondary">Title 3</h5>
                        <ul class="footer-content-list footer-content-social mt-4">
                            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-instagram"></i></span></a></li>
                            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center c-light fs-14">
                    <p class="mb-0 mt-5">
                        Copyright <i class="fa fa-copyright"></i> 2021 Hello Chef
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>