<nav class="navbar hc-header navbar-expand-lg bg-white shadow-sm py-3">
    <a class="navbar-brand pl-md-4" href="#">
        <img src="./../../assets/images/logo_blue.png" alt="HelloChef">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon">
            <i class="fa fa-bars"></i>
        </span>
    </button> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fa fa-bars"></i>
        </span>
    </button>

    <!-- <div class="collapse navbar-collapse d-flex flex-row-reverse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href='#' [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='#' [routerLink]="['/about']" [routerLinkActive]="['active']">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='#' [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact Us</a>
            </li>
        </ul>
    </div> -->
    <div class="collapse navbar-collapse" id="navbarTop">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href='#' [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='#' [routerLink]="['/about']" [routerLinkActive]="['active']">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='#' [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>