.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.sidenav-container {
    z-index: -1 !important;
}

.mat-toolbar {
    position: relative;
    z-index: 2;
}

.tbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
