.mat-toolbar.mat-primary {
    background: #fff !important;
    color: rgb(0, 0, 0);
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.hc-header .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #033059;
    padding: 1rem 2rem;
    position: relative;
}
.hc-header .navbar-nav .nav-item .nav-link:after {
    position: absolute;
    left: 50%;
    right: 50%;
    height: 2px;
    bottom: 5px;
    content: "";
    background-color: #feb4ab;
    transition: 0.2s ease-in-out;
    transform: translateZ(0);
}
.hc-header .navbar-nav .nav-item .nav-link:hover:after {
    left: 30px;
    right: 30px;
}
.hc-header .navbar-nav .nav-item .nav-link.active:after {
    position: absolute;
    left: 30px;
    right: 30px;
    height: 2px;
    bottom: 5px;
    content: "";
    background-color: #feb4ab;
    transition: 0.2s ease-in-out;
    transform: translateZ(0);
}

.hc-header .navbar-brand img {
    width: 230px;
}

@media (max-width: 700px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

.hc-header .navbar-collapse {
    justify-content: flex-end !important;
}
