<mat-toolbar color="primary">
    <button mat-icon-button *ngIf="sidenav?.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <a href="#" [routerLink]="['/dashboard']" class="menu-button link-text">
        <h1>Logo</h1>
    </a>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/random" alt="profile" height="150px"
            width="150px">
        <h2 class="name">Name</h2>
        <p class="designation">Designation</p>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/dashboard']">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/projects']">
            <mat-icon>work</mat-icon>
            <span>Projects</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/about']">
            <mat-icon>person</mat-icon>
            <span>About</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/contact']">
            <mat-icon>phone</mat-icon>
            <span>Contact</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>