html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body,
html {
    height: 100%;
}
* {
    box-sizing: border-box;
}
body {
    width: 100% !important;
    background-color: #fff;
    color: #444;
    font: 16px Roboto, Helvetica Neue, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

html * {
    font-size: 16px !important;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    line-height: 1.5;
    font-stretch: normal;
    font-family: "Roboto", sans-serif;
}

.component {
    padding: 15px;
    margin: 15px;
}

app-footer footer {
    min-height: 350 px;
    display: flex;
    align-items: center;
    background-color: #033059;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
}
