mat-sidenav {
    margin: 15px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #033059;
    padding: 15px;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 10vh);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    mat-icon {
        margin-right: 10px;
    }
}

.avatar {
    border-radius: 50%;
}

.name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: #033059;
}

mat-divider {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #033059;
}
