.content > mat-card {
    max-width: 500px;
}

.dashboard-content {
    margin-left: 5px !important;
}

:host .mat-card-header-text {
    margin: 0;
}

.mat-card {
    height: 250px;
    overflow-y: auto;
}

.card-actions {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
