<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="text-primary px-2 pb-4 p-md-0">
                    <h2 class="banner-title mb-3">
                        This is the main Title
                    </h2>
                    <p class="banner-subtitle">
                        <strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quidem dignissimos! Consectetur
                        aspernatur nulla quibusdam officiis eum autem sint et.
                    </p>
                    <p class="banner-subtitle mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Reprehenderit et quas fugiat, nisi hic consectetur quasi maxime totam minima.</p>
                    <button class="btn btn-secondary btn-lg px-5">Button</button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>