body {
    overflow-x: hidden;
}

.no-style {
    text-decoration: none !important;
}

.link-text {
    text-decoration: none !important;
    color: white;
}

.content {
    padding: 15px;
    margin-left: 15px;
}

.primary-text {
    color: #033059;
    font-size: 1.5rem !important;
}

.mat-title {
    border-radius: 10px;
    margin: 0 5px 10px;
}
